body {
  justify-content: center;
}

h1 {
  color: aqua;
  font-size: 24px;
  font-style: oblique;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.book_holder {
  width: 40%;
  min-width: 300px;
  min-height: 100px;
  margin-right: auto;
  margin-left: auto;
  max-width: 500px;
}
form {
  margin-right: auto;
  margin-left: auto;
  width: 240px;
  text-align: center;
  padding: 24px;
}

h6 {
  font-size: 16px;
  margin-bottom: 8px;
  color: rgb(19, 92, 92);
}

input {
  width: 80%;
  margin-top: 8px;
  margin-bottom:8px;
}

input[type="submit"] {
 width: 40%;

}

ul {
  padding: 0;
  border: 1px solid grey;
}

li {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding-left: 16px;
  padding-right: 16px;
}

li:nth-child(even) {
  background-color: #f2f2f2;
}

.remove_book {
  flex-grow: 1;
  height: 50%;
  align-self: center;
  max-width: 100px;
}

.item {
  flex-grow: 1;
}
