body {
  justify-content: center;
}

h1 {
  color: aqua;
  font-size: 24px;
  font-style: oblique;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.book_holder {
  width: 40%;
  min-width: 300px;
  min-height: 100px;
  margin-right: auto;
  margin-left: auto;
  max-width: 500px;
}

form {
  margin-right: auto;
  margin-left: auto;
  width: 200px;
  text-align: right;
  padding: 24px;
}

h6 {
  font-size: 16px;
  margin-bottom: 8px;
  color: rgb(19, 92, 92);
  text-align: center;
}

input {
  width: 100%;
  margin-top: 8px;
  margin-bottom: 8px;
}

input[type="submit"] {
  width: 30%;
}

.book_holder {
  padding: 0;
  border: 1px solid grey;
}

.book_holder > li {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding-left: 16px;
  padding-right: 16px;
}

.book_holder > li:nth-child(even) {
  background-color: #f2f2f2;
}

.remove_book {
  flex-grow: 1;
  height: 50%;
  align-self: center;
  max-width: 100px;
}

.item {
  flex-grow: 1;
}

.contact-info {
  /* text-align: center; */
  text-align: justify;
  text-justify: inter-word;
  width: 480px;
  margin-right: auto;
  margin-left: auto;
  font-size: 20px;
}

